<ul class="payment-methods">
  <li>{{ 'visa.svg' | inline_asset_content }}</li>

  <li>{{ 'mastercard.svg' | inline_asset_content }}</li>

  <li>{{ 'american-express.svg' | inline_asset_content }}</li>

  <li>{{ 'paypal.svg' | inline_asset_content }}</li>

  <li>{{ 'diners-club.svg' | inline_asset_content }}</li>

  <li>{{ 'discover.svg' | inline_asset_content }}</li>
</ul>
