{% if settings.social_instagram_link != blank %}
    <a href="{{ settings.social_instagram_link }}" target="_blank" rel="noopener noreferrer" aria-label="Instagram Social Media Link">
        <i class="fab fa-instagram"></i>
    </a>
{% endif %}
{% if settings.social_facebook_link != blank %}
    <a href="{{ settings.social_facebook_link }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook Social Media Link">
        <i class="fab fa-facebook-f"></i>
    </a>
{% endif %}
{% if settings.social_twitter_link != blank %}
    <a href="{{ settings.social_twitter_link }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter Social Media Link">
        <i class="fab fa-twitter"></i>
    </a>
{% endif %}
{% if settings.social_pinterest_link != blank %}
    <a href="{{ settings.social_pinterest_link }}" target="_blank" rel="noopener noreferrer" aria-label="Pinterest Social Media Link">
        <i class="fab fa-pinterest-p"></i>
    </a>
{% endif %}
{% if settings.social_youtube_link != blank %}
    <a href="{{ settings.social_youtube_link }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube Social Media Link">
        <i class="fab fa-youtube"></i>
    </a>
{% endif %}
{% if settings.social_linkedin_link != blank %}
    <a href="{{ settings.social_linkedin_link }}" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Social Media Link">
        <i class="fab fa-linkedin-in"></i>
    </a>
{% endif %}
{% if settings.social_vimeo_link != blank %}
    <a href="{{ settings.social_vimeo_link }}" target="_blank" rel="noopener noreferrer" aria-label="Vimeo Social Media Link">
        <i class="fab fa-vimeo-v"></i>
    </a>
{% endif %}
{% if settings.social_tiktok_link != blank %}
    <a href="{{ settings.social_tiktok_link }}" target="_blank" rel="noopener noreferrer" aria-label="TikTok Social Media Link">
        <i class="fab fa-tiktok"></i>
    </a>
{% endif %}