<account-component>
  <div class="menu-account">
    <ul class="menu-account-content">
      <li class="active">{{ 'account.menu.personal_data' | t }}</li>
      <li>{{ 'account.menu.address' | t }}</li>
      <li>{{ 'account.menu.orders' | t }}</li>
      <li><a href="/account/logout">{{ 'account.menu.logout' | t }}</a></li>
    </ul>
  </div>

  <div class="container-info">
    <div class="container-header">
      <h2 class="title-header">{{ 'account.personal_data.title' | t }}</h2>
    </div>

    <div class="show-content">
      <div class="personal-details">
        <div class="personal-details-content">
          <div class="firstName">
            <h2>{{ 'account.personal_data.name' | t }}</h2>
            <p>{{ customer.first_name }}</p>
          </div>
          <div class="lastName">
            <h2>{{ 'account.personal_data.surname' | t }}</h2>
            <p>{{ customer.last_name }}</p>
          </div>
          <div class="email">
            <h2>{{ 'account.personal_data.email' | t }}</h2>
            <p>{{ customer.email }}</p>
          </div>
        </div>
        <div class="newsletter-subscription">
          {% form 'customer', class: 'newsletter-form' %}
          <div class="newsletter-form__field-wrapper">
            <label for="NewsletterForm-email" class="newsletter-form__label visually-hidden">
              {{ 'account.newsletter.title' | t }}
            </label>
            <input id="NewsletterForm-email" type="email" name="contact[email]" class="newsletter-form__field"
              value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email"
              {% if form.errors %} autofocus aria-invalid="true" aria-describedby="Newsletter-error" {% elsif
              form.posted_successfully? %} aria-describedby="Newsletter-success" {% endif %}
              placeholder="{{ 'account.newsletter.placeholder' | t }}" required>
            <button type="submit" class="newsletter-form__button" name="commit">{{ 'account.newsletter.submit' | t
              }}</button>
          </div>
          {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error">
            {%- for error in form.errors -%}
            <span>{{ error }}</span>
            {%- endfor -%}
          </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success" id="Newsletter-success" tabindex="-1"
            autofocus>
            {{ 'account.newsletter.success' | t }}
          </h3>
          {%- endif -%}
          <div class="newsletter-form__checkbox">
            <input type="checkbox" id="NewsletterForm-accepts-marketing" name="customer[accepts_marketing]"
              class="newsletter-form__checkbox-input" {% if customer.accepts_marketing %} checked {% endif %}>
            <label for="NewsletterForm-accepts-marketing" class="newsletter-form__checkbox-label">
              {{ 'account.newsletter.marketing_consent' | t }}
            </label>
          </div>
          {% endform %}
        </div>
      </div>

      <div class="addresses-details">
        {% comment %} <h3 class="addresses-title">{{ 'account.addresses.title' | t }}</h3> {% endcomment %}

        {% comment %} <div class="container-adress-details-content">
          <h4 class="default-adress-title">{{ 'account.addresses.default_address' | t }}</h4>

          {% for address in customer.addresses %}
          {% if address == customer.default_address %}
          {{ address | format_address }}
          {% endif %}
          {% endfor %}

          <a href="/account/addresses" class="btn-see-adress">{{ 'account.addresses.view_addresses' | t }} ({{
            customer.addresses_count }})</a>
        </div> {% endcomment %}
        <div class="container-adress-details-content">
          {% for address in customer.addresses %}
            <div class="address">
              <div class="infomation">
                <div class="header-info">
                  <h3>
                    {% if address == customer.default_address %}
                    <span>{{ 'star_icon.svg' | inline_asset_content }}</span>
                    {% endif %}
                    Endereço {{ forloop.index }}
                  </h3>
                  <div class="delete">
                    <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
                      <input type="hidden" name="_method" value="delete">
                      <button type="submit">{{ 'x.svg' | inline_asset_content }}</button>
                    </form>
                  </div>
                </div>
                {{ address | format_address }}
              </div>
              <div class="edit-buttons">
                <div class="edit">
                  <p data-address-id="{{ address.id }}"><span>{{ 'pencil.svg' | inline_asset_content }}</span>{{ 'account.address.button.edit' | t }}</p>
                </div>
              </div>
            </div>

            <div id="edit-modal-{{ address.id }}" class="edit-modal">
              {% render 'edit-address', address: address %}
            </div>
          {% endfor %}

          <div class="btn-add-new-address">
              <p class="btn">{{ 'account.address.button.add_new' | t }}</p>          
          </div>

          <div class="new-address-modal">
              {% render 'edit-address', address: customer.new_address  %}
          </div>

          <div class="overlay"></div>
        </div>
      </div>

      <div class="order-history-details">
        <h3 class="order-history-title">{{ 'account.order_history.title' | t }}</h3>

        <div class="container-order-history-content">

          {% if customer.orders != blank %}
          <div class="order-details">
            <table class="order-details-table">
              <thead class="desktop-only">
                <tr>
                  <th>{{ 'account.order_history.table.order' | t }}</th>
                  <th>{{ 'account.order_history.table.date' | t }}</th>
                  <th>{{ 'account.order_history.table.payment_status' | t }}</th>
                  {% comment %} <th>{{ 'account.order_history.table.fulfillment_status' | t }}</th> {% endcomment %}
                  <th>{{ 'account.order_history.table.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                <tr class="order-row">
                  <td>
                    <a href="{{ order.customer_url }}">{{ order.name }}</a>
                  </td>
                  <td>{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td>{{ order.financial_status }}</td>
                  {% comment %} <td data-label="{{ 'account.order_history.table.fulfillment_status' | t }}">{{
                    order.fulfillment_status }}</td> {% endcomment %}
                  <td>{{ order.total_price | money }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          {% else %}
          <p class="no-recent-orders">{{ 'account.order_history.no_orders' | t }}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="loading-back"></div>
  </div>
</account-component>

{% schema %}
  {
    "name": "t:sections.account.name",
    "settings": [],
    "presets": [
      {
        "name": "t:sections.account.presets.name"
      }
    ]
  }
{% endschema %}