{% liquid
    assign image_side = section.settings.image_side

    if image_side == 'left'
        assign image_side = 'left'
    else
        assign image_side = 'right'
    endif
%}

<banner-carousel-products>
    <div class="header-banner-carousel-products">
        <div class="title">
            {{ section.settings.title_section }}
            
            {% if section.settings.show_icon %}
              <img  width="auto" height="auto" src="{{ section.settings.icon_title |  image_url: width: 100 }}" alt="Icon">
            {% endif %}
        </div>
    </div>
    <div class="banner-carousel-products-container {{ image_side }}">
        <div class="banner-carousel-products__banner">
          {% if section.settings.link_banner != blank %}<a href="{{ section.settings.link_banner }}">{% endif %}
            <img width="auto" height="auto" class="desktop" src="{{ section.settings.image_banner_desktop |  image_url: width: nil }}" alt="Banner">
            <img width="auto" height="auto" class="mobile" src="{{ section.settings.image_banner_mobile | image_url: width: nil }}" alt="Banner">
          {% if section.settings.link_banner != blank %}</a>{% endif %}  
        </div>
        <div class="blaze-slider banner-carousel-products-slider">
            <div class="blaze-container banner-carousel-products-blaze-container">
                <div class="blaze-track-container banner-carousel-products-blaze-track-container">
                    <div class="blaze-track banner-carousel-products-blaze-track">
                        {% for product in section.settings.collection.products %}
                            {% render 'product-card', 
                                product: product,
                                show_new_tag: section.settings.show_new_tag,
                                show_discount_tag: section.settings.show_discount_tag
                            %}
                        {% endfor %}
                    </div>
                    <div class="blaze-pagination blaze-pagination-banner-carousel-products"></div>
                </div>
            </div>
            <button class="blaze-prev banner-carousel-products--prev" aria-label="Previous Slide">
                {{ 'icon-arrow.svg' | inline_asset_content }}
            </button>
            <button class="blaze-next banner-carousel-products--next" aria-label="Next Slide">
                {{ 'icon-arrow.svg' | inline_asset_content }}
            </button>
        </div>
    </div>
</banner-carousel-products>

{% schema %}
    {
      "name": "t:sections.banner-carousel-products.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_banner_desktop",
          "label": "t:sections.banner-carousel-products.settings.image_banner_desktop.label"
        },
        {
          "type": "image_picker",
          "id": "image_banner_mobile",
          "label": "t:sections.banner-carousel-products.settings.image_banner_mobile.label"
        },
        {
          "type": "url",
          "id": "link_banner",
          "label": "t:sections.banner-carousel-products.settings.link_banner.label"
        },
        {
          "type": "select",
          "id": "image_side",
          "label": "t:sections.banner-carousel-products.settings.image_side.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.banner-carousel-products.settings.image_side.options.left"
            },
            {
              "value": "right",
              "label": "t:sections.banner-carousel-products.settings.image_side.options.right"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.banner-carousel-products.settings.header.content"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.banner-carousel-products.settings.collection.label",
          "info": "t:sections.banner-carousel-products.settings.collection.info"
        },
        {
          "type": "richtext",
          "id": "title_section",
          "label": "t:sections.banner-carousel-products.settings.title_section.label",
          "default": "<p>Best Sellers</p>"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "t:sections.banner-carousel-products.settings.show_icon.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "icon_title",
          "label": "t:sections.banner-carousel-products.settings.icon_title.label"
        },
        {
          "type": "checkbox",
          "id": "show_discount_tag",
          "label": "t:sections.banner-carousel-products.settings.show_discount_tag.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_new_tag",
          "label": "t:sections.banner-carousel-products.settings.show_new_tag.label",
          "default": true
        }
      ],
      "presets": [
        {
          "name": "t:sections.banner-carousel-products.presets.name"
        }
      ]
    }
{% endschema %}